*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.header {
    margin-bottom: 97px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-left: 73px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 42px 20px 41px 18px;
}

.nav-item:hover {
    color: var(--unnamed, #FFF);
    background-color: #131313;
}

.himo {
    display: flex;
    gap: 31px;
    margin-bottom: 150px;
}

.about-himo {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.himo-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.himo-title h1 {
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.himo-title span {
    color: var(--unnamed, #6F6F6F);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.himo-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.himo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 80px;
    margin-top: 20px;
    background: var(--unnamed, #131313);
}

.btn {
    color: var(--unnamed, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 22px;
    text-transform: uppercase;
}

.himo-btn:hover {
    background: var(--unnamed, #FF4040);
}

.bike {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bike-list {
    display: flex;
    justify-content: center;
    gap: 66px;
}

.bike-item {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}

.bike-item h3 {
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.bike-item span {
    color: var(--unnamed, #131313);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.information {
    display: flex;
    gap: 60px;
    margin-bottom: 150px;
}

.inforamation-about {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.information-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information-text h3 {
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.information-text p {
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.characteristic {
    display: flex;
    gap: 60px;
}

.characteristic-info {
    display: flex;
    flex-direction: column;
}

.characteristic-title {
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.characteristic-all-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 570px;
    height: 22px;
    background: var(--unnamed, #131313);
    color: var(--unnamed, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.characteristic-all-info-wrapper {
    display: flex;
    gap: 176px;
    margin-top: 10px;
    margin-bottom: 31px;
    align-items: center;
}

.chraracteristic-all-firstinfo {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.firstname {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.secondname {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.characteristic-all-second-info {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.first-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.second-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--unnamed, #131313);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.characteristic-depreciation-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 570px;
    height: 22px;
    background: var(--unnamed, #131313);
    color: var(--unnamed, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.characteristic-depreciation-wrapper {
    display: flex;
    gap: 165px;
    margin-top: 10px;
    margin-bottom: 31px;
    align-items: center;
}

.characteristic-control-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 570px;
    height: 22px;
    background: var(--unnamed, #131313);
    color: var(--unnamed, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.characteristic-control-wrapper {
    display: flex;
    gap: 176px;
    margin-top: 10px;
    margin-bottom: 31px;
    align-items: center;
}


