body {
    margin: 0 auto;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.banner {
    background-image: url(../image/IMAGE.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    color: #FFF;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.28px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list a {
    text-decoration: none;
    color: #1C2436;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.28px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 147px;
    height: 42px;
    border: 1px solid #E8E7EE;
    color: #1C2436;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.meet-lemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 104px;
    text-align: center;
}

.meet-lemon span {
    color: #1C2436;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    padding-bottom: 13px;
}

.meet-lemon h1 {
    color: #1C2436;
    text-align: center;
    font-size: 67px;
    font-family: Outfit;
    line-height: 86.4px;
    letter-spacing: 1.44px;
    padding-bottom: 30px;
}

.meet-lemon p {
    color: #1C2436;
    text-align: center;
    font-size: 18px;
    font-family: Be Vietnam Pro;
    line-height: 32px;
    letter-spacing: 0.36px;
    padding-bottom: 36px;
}

.meet-lemon img {
    padding-bottom: 160px;
}

.subtitle {
    display: flex;
    justify-content: center;
    gap: 176px;
    margin-bottom: 50px;
}

.subtitle h2 {
    color: #1C2436;
    font-size: 44px;
    font-family: Outfit;
    line-height: 57.6px;
    letter-spacing: 0.96px;
}

.subtitle p {
    text-align: left;
    padding-top: 15px;
    color: #1C2436;
    font-size: 16px;
    font-family: Be Vietnam Pro;
    line-height: 32px;
    letter-spacing: 0.36px;
}

.collection {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 327px);
    grid-template-rows: 298px;
    gap: 40px;
    margin-bottom: 32px;
}

.collection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    border: 1px solid #E8E7EE;
}

.blue-logo {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CFF2ED;
    width: 72px;
    height: 72px;
}

.collection1 h2 {
    color: #1C2436;
    font-size: 23px;
    font-family: Outfit;
    line-height: 32px;
    letter-spacing: 0.48px;
}

.collection1 p {
    color: #454C5F;
    font-size: 16px;
    font-family: Be Vietnam Pro;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.collection2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    border: 1px solid #E8E7EE;
}

.collection3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    border: 1px solid #E8E7EE;
}

.pirple-logo {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6CFF2;
    width: 72px;
    height: 72px;
}

.collection2 h2 {
    color: #1C2436;
    font-size: 23px;
    font-family: Outfit;
    line-height: 32px;
    letter-spacing: 0.48px;
}

.collection2 p {
    color: #454C5F;
    font-size: 16px;
    font-family: Be Vietnam Pro;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.yellow-logo {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBFA9E;
    width: 72px;
    height: 72px;
}

.collection3 h2 {
    color: #1C2436;
    font-size: 23px;
    font-family: Outfit;
    line-height: 32px;
    letter-spacing: 0.48px;
}

.collection3 p {
    color: #454C5F;
    font-size: 16px;
    font-family: Be Vietnam Pro;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.learn-more {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F9;
    height: 56px;
    color: #1C2436;
    text-align: center;
    font-size: 14px;
    font-family: Be Vietnam Pro;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 160px;
}

.tick {
    position: absolute;
    right: 16px;
    top: 16px;
    bottom: 16px;
}

.landing-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.landing-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 117px;
}

.landing-title span {
    color: #454C5F;
    text-align: center;
    font-size: 16px;
    font-family: Outfit;
    line-height: 24px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.landing-title h2 {
    color: #1C2436;
    text-align: center;
    font-size: 44px;
    font-family: Outfit;
    line-height: 57.6px;
    letter-spacing: 0.96px;
}

.landing-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 135px;
}

.company-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-title span {
    color: #454C5F;
    text-align: center;
    font-size: 16px;
    font-family: Outfit;
    line-height: 24px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.company-title h2 {
    color: #1C2436;
    text-align: center;
    font-size: 45px;
    font-family: Outfit;
    line-height: 57.6px;
    letter-spacing: 0.96px;
}

.company-img {
    display: flex;
    flex-wrap: wrap;
    gap: 135px;
    align-items: center;
    justify-content: center;
    margin-top: 117px;
    margin-bottom: 136px;
}

.overview-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview-title span {
    color: #454C5F;
    text-align: center;
    font-size: 16px;
    font-family: Outfit;
    line-height: 24px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.overview-title h2 {
    color: #1C2436;
    text-align: center;
    font-size: 45px;
    font-family: Outfit;
    line-height: 57.6px;
    letter-spacing: 0.96px;
    margin-bottom: 117px;
}

.overiew-img {
    display: flex;
    gap: 135px;
    align-items: center;
    justify-content: center;
    margin-bottom: 136px;
}

.pricing-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing span {
    color: #454C5F;
    text-align: center;
    font-size: 16px;
    font-family: Outfit;
    line-height: 24px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.pricing h2 {
    color: #1C2436;
    text-align: center;
    font-size: 45px;
    font-family: Outfit;
    line-height: 57.6px;
    letter-spacing: 0.96px;
    margin-bottom: 117px;
}

.pricing-img {
    display: flex;
    gap: 135px;
    align-items: center;
    justify-content: center;
    margin-bottom: 136px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title span {
    color: #454C5F;
    text-align: center;
    font-size: 16px;
    font-family: Outfit;
    line-height: 24px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.contact-title h2 {
    color: #1C2436;
    text-align: center;
    font-size: 45px;
    font-family: Outfit;
    line-height: 57.6px;
    letter-spacing: 0.96px;
    margin-bottom: 117px;
}

.contact-img {
    display: flex;
    gap: 135px;
    align-items: center;
    justify-content: center;
    margin-bottom: 136px;
}

.blog-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-title span {
    color: #454C5F;
    text-align: center;
    font-size: 16px;
    font-family: Outfit;
    line-height: 24px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.blog-title h2 {
    color: #1C2436;
    text-align: center;
    font-size: 45px;
    font-family: Outfit;
    line-height: 57.6px;
    letter-spacing: 0.96px;
    margin-bottom: 117px;
}

.blog-img {
    display: flex;
    gap: 135px;
    align-items: center;
    justify-content: center;
    margin-bottom: 136px;
}

.account-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-title span {
    color: #454C5F;
    text-align: center;
    font-size: 16px;
    font-family: Outfit;
    line-height: 24px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.account-title h2 {
    color: #1C2436;
    text-align: center;
    font-size: 45px;
    font-family: Outfit;
    line-height: 57.6px;
    letter-spacing: 0.96px;
    margin-bottom: 117px;
}

.account-img {
    display: flex;
    flex-wrap: wrap;
    gap: 135px;
    align-items: center;
    justify-content: center;
    margin-bottom: 136px;
}

.footer-wrapper {
    background-color: #2A514C;
}

.footer-title {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 80px;
    margin-bottom: 49px;
    color: #FFF;
    font-size: 13px;
    font-family: Be Vietnam Pro;
    line-height: 24px;
    letter-spacing: 0.28px;
}

.footer-nav {
    display: flex;
    gap: 40px;
}

.border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #EBFA9E;
}

.line {
    width: 1280px;
    height: 1px;
    background: rgba(240, 250, 248, 0.10);
    margin-bottom: 41px;
}

.footer-info {
    display: flex;
    gap: 240px;
}

.footer-nav-info span {
    color: #EBFA9E;
    font-size: 12px;
    font-family: Be Vietnam Pro;
    line-height: 16px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.footer-list {
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #FFF;
    font-size: 12px;
    font-family: Be Vietnam Pro;
    line-height: 24px;
    letter-spacing: 0.28px;
    margin-bottom: 40px;
}

.footer-template {
    color: #F0FAF8;
    font-size: 13px;
    font-family: Be Vietnam Pro;
    line-height: 24px;
    letter-spacing: 0.28px;
}

.footer-template span {
    color: #BFE03E;
    font-size: 13px;
    font-family: Be Vietnam Pro;
    line-height: 24px;
    letter-spacing: 0.28px;
}