*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

header {
    border-bottom: 1px solid #DDDDDD;
}

.nav {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 28px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #333;
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: 300;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav-menu a {
    color: #4C5866;
    font-size: 20px;
    font-family: Roboto;
    text-decoration: none;
}

.nav-menu a:hover {
    color: #7875FE;
    transition: 0.5s;
}

.nav-menu-search:hover {
    background-image: url(../img/search2.svg);
}

.nav-menu-login:hover {
    background-image: url(../img/log-in2.png);
}

.things {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.things-title {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.things-title h2 {
    color: #4C5866;
    font-size: 60px;
    font-family: Roboto;
    line-height: 100%;
}

.things-title p {
    color: #85859B;
    font-size: 18px;
    font-family: Roboto;
    line-height: 150%;
}

.things-title a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7875FE;
    font-size: 20px;
    font-family: Roboto;
    border: 1px solid #7875FE;
    width: 255px;
    height: 70px;
}

.things-title a:hover {
    background-color: #7875FE;
    color: #FFFFFF;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.choose {
    background-color: #EBEBEB;
    margin-bottom: 90px;
}

.choose-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.result {
    display: flex;
    gap: 50px;
}

.version {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-top: 1px solid #C0C0C0;
    padding-top: 19px;
}

.info-result span {
    color: #666;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 150%;
}

.info-result p {
    color: #85859B;
    font-size: 18px;
    font-family: Roboto;
    line-height: 150%;
}

.result-info {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.result-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.result-text span {
    color: #666;
    font-size: 40px;
    font-family: Roboto;
    line-height: 100%;
}

.result-text p {
    color: #85859B;
    font-size: 18px;
    font-family: Roboto;
    line-height: 170%;
}

.p1 {
    margin-bottom: 15px;
}

.about-container {
    display: flex;
    gap: 30px;
}

.things-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
}

.things-container h2 {
    color: #666;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.things-container span {
    color: #B5B5BD;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.things-container p {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.things-container a {
    padding-top: 20px;
    color: #7875FE;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.things-container a::after {
    content: url(../img/Arrow\ 1.svg);
    padding-left: 5px;
}