*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    background: var(--unnamed, #0A0A0A);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 113px;
}

.nav-list {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.menu-item {
    color: var(--unnamed, #717171);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
}

.phone {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;
    color: var(--unnamed, #717171);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.iphone {
    padding-top: 71px;
    margin-bottom: 87px;
    background-color: #F5F5F7;
}

.iphone-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iphone-container h1 {
    color: var(--purple, #490E84);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 70px;
    border-radius: 30px;
    background: var(--purple, #490E84);
    color: var(--unnamed, #FFF);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 40px;
}

.about {
    margin-bottom: 150px;
}

.about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-container h2 {
    color: var(--unnamed, #717171);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info-iphone {
    display: flex;
    justify-content: space-between;
    gap: 191px;
}

.about-iphone {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-iphone p {
    width: 560px;
    color: var(--unnamed, #0A0A0A);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

#bold {
    color: var(--unnamed, #0A0A0A);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.iphone-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color {
    margin-bottom: 150px;
}

.color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.color-container h2 {
    color: var(--unnamed, #717171);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.choose-color {
    display: flex;
    gap: 80px;
}

.iphone-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.iphone-item h2 {
    color: var(--unnamed, #0A0A0A);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-top: 10px;
}

.iphone-item span {
    color: #0A0A0A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.order-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.order-wrapper {
    width: 600px;
    height: 600px;
    background-color: var(--deep-purple, #574B63);
}

.form-title {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.form-title h2 {
    color: var(--unnamed, #FFF);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.name {
    padding: 10px 0;
    background-color: var(--deep-purple, #574B63);
    width: 400px;
    border: none;
    border-bottom: 1px solid #F5F5F5;
    opacity: 0.5;
    outline-color: #F5F5F5;
}

.number {
    padding: 10px 0;
    background-color: var(--deep-purple, #574B63);
    width: 400px;
    border: none;
    border-bottom: 1px solid #F5F5F5;
    width: 400px;
    opacity: 0.5;
    outline-color: #F5F5F5;
}

.name::placeholder {
    color: var(--unnamed, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.number::placeholder {
    color: var(--unnamed, #FFF);
}

.order-wrapper p {
    color: var(--unnamed, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    opacity: 0.5;
}

.btn-order {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: var(--unnamed, #FFF);
    width: 240px;
    height: 50px;
    color: var(--purple, #490E84);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.footer {
    background: var(--unnamed, #0A0A0A);
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.footer-nav {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav span {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    color: var(--unnamed, #717171);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.footer-phone {
    color: var(--unnamed, #717171);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;
}