*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    margin-bottom: 76px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list a {
    color: #606060;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.nav-list li :hover {
    color: #000000;
}

.header-main {
    display: flex;
    justify-content: space-between;
}

.header-aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 200px;
}

.header-aside h2 {
    color: #000;
    font-size: 44px;
    font-weight: 600;
}

.header-aside p {
    color: #000;
    font-size: 14px;
    line-height: 200%;
}

.section {
    background-color: cF;
}

.skills {
    display: flex;
    gap: 30px;
    max-width: 1230px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.design {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.design-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.design-info h2 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.design-info p {
    color: #000;
    font-size: 14px;
    line-height: 200%;
}

.development {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.development-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.development-info h2 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.development-info p {
    color: #000;
    font-size: 14px;
    line-height: 200%;
}

.software-testing {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.software-testing-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.software-testing-info h2 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.software-testing-info p {
    color: #000;
    font-size: 14px;
    line-height: 200%;
}

.portfolio {
    background-color: #F1F1F1;
}

.container-portfolio {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-bottom: 90px;
}

.title-portfolio {
    padding-top: 90px;
    padding-bottom: 70px;
    color: var(--black, #070707);
    text-align: center;
    font-size: 34px;
    font-weight: 600;
}

.work {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.work a {
    color: var(--black, #070707);
    text-align: center;
    font-size: 18px;
    text-decoration-line: underline;
}

.footer {
    background-color: #FFFFFF;
}

.container-footer {
    max-width: 1230px;
    margin: 0 auto;
}

.info {
    text-align: center;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.info h2 {
    color: var(--black, #070707);
    font-size: 34px;
    font-family: Poppins;
    font-weight: 600;
}

.info p {
    color: var(--black, #070707);
    font-size: 18px;
}

.button {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.social {
    display: flex;
    gap: 63px;
    justify-content: center;
    margin-bottom: 40px;
}

.end {
    text-align: center;
    color: #828282;
    text-align: center;
    font-size: 14px;
    margin-bottom: 90px;
}